In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [42]:
data = pd.read_csv('./data/layoffs.csv')
data.head()

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised
0,TikTok India,Mumbai,Consumer,40.0,NaN,2023-02-10,Acquired,India,9400.0
1,Rigetti Computing,SF Bay Area,Hardware,NaN,0.28,2023-02-10,Post-IPO,United States,298.0
2,Yahoo,SF Bay Area,Consumer,1600.0,0.20,2023-02-09,Acquired,United States,6.0
3,Deliveroo,London,Food,350.0,NaN,2023-02-09,Post-IPO,United Kingdom,1700.0
4,Olive AI,Columbus,Healthcare,215.0,0.35,2023-02-09,Series H,United States,856.0

In [43]:
data['industry'].unique()

array(['Consumer', 'Hardware', 'Food', 'Healthcare', 'Product', 'Retail',
       'Security', 'Transportation', 'Media', 'Crypto', 'Marketing',
       'Finance', 'HR', 'Sales', 'Construction', 'Other', 'Education',
       'Logistics', 'Data', 'Support', 'Legal', 'Real Estate', 'Fitness',
       'Travel', 'Infrastructure', 'Energy', nan, 'Manufacturing',
       'Recruiting', 'Aerospace'], dtype=object)

In [44]:
data.groupby('industry').size()

industry
Aerospace           6
Construction       16
Consumer          109
Crypto             94
Data               78
Education          89
Energy             12
Finance           278
Fitness            30
Food              131
HR                 62
Hardware           15
Healthcare        170
Infrastructure     41
Legal              13
Logistics          40
Manufacturing       2
Marketing         131
Media              89
Other             111
Product            35
Real Estate       112
Recruiting         28
Retail            184
Sales              34
Security           70
Support            38
Transportation    140
Travel             65
dtype: int64

In [45]:
tech  = data[
	(data['industry'] == 'Crypto') |
	(data['industry'] == 'Data') |
	(data['industry'] == 'Hardware') |
	(data['industry'] == 'Product') |
	(data['industry'] == 'Consumer') 
].reset_index()
tech.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331 entries, 0 to 330
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                331 non-null    int64
 1   company              331 non-null    object
 2   location             331 non-null    object
 3   industry             331 non-null    object
 4   total_laid_off       218 non-null    float64
 5   percentage_laid_off  227 non-null    float64
 6   date                 331 non-null    object
 7   stage                331 non-null    object
 8   country              331 non-null    object
 9   funds_raised         286 non-null    float64
dtypes: float64(3), int64(1), object(6)
memory usage: 26.0+ KB

In [46]:
tech.drop(columns=['index'], inplace=True)
tech.head()

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised
0,TikTok India,Mumbai,Consumer,40.0,NaN,2023-02-10,Acquired,India,9400.0
1,Rigetti Computing,SF Bay Area,Hardware,NaN,0.28,2023-02-10,Post-IPO,United States,298.0
2,Yahoo,SF Bay Area,Consumer,1600.0,0.20,2023-02-09,Acquired,United States,6.0
3,GitLab,SF Bay Area,Product,130.0,0.07,2023-02-09,Post-IPO,United States,413.0
4,GitHub,SF Bay Area,Product,NaN,0.10,2023-02-09,Acquired,United States,350.0

In [47]:
x = np.array(tech['total_laid_off'].isna())
print(np.unique(x, return_counts=True))

(array([False,  True]), array([218, 113], dtype=int64))

In [48]:
x = np.array(tech['percentage_laid_off'].isna())
print(np.unique(x, return_counts=True))

(array([False,  True]), array([227, 104], dtype=int64))

In [49]:
tech2 = tech.dropna()
tech2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142 entries, 2 to 330
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   company              142 non-null    object
 1   location             142 non-null    object
 2   industry             142 non-null    object
 3   total_laid_off       142 non-null    float64
 4   percentage_laid_off  142 non-null    float64
 5   date                 142 non-null    object
 6   stage                142 non-null    object
 7   country              142 non-null    object
 8   funds_raised         142 non-null    float64
dtypes: float64(3), object(6)
memory usage: 11.1+ KB

In [50]:
tech2['company'].unique()

array(['Yahoo', 'GitLab', 'Protocol Labs', 'Splunk', 'DraftKings',
       'Chainalysis', 'Software AG', 'Tilting Point', 'Matrixport',
       'Shakepay', 'Confluent', 'Luno', 'Gitpod', 'Google',
       'Citrine Informatics', 'ShareChat', 'Blockchain.com', 'Coinbase',
       'ConsenSys', 'Parler', 'Huobi', 'Pecan AI', 'Twine Solutions ',
       'Astronomer', 'Revelate', 'Thumbtack', 'Xentral', 'Airtable',
       'Houzz', 'Netlify', 'Kraken', 'CoinJar', 'Wildlife Studios',
       'Candy Digital', 'Lemon', 'Quidax', 'UiPath', 'Juul', 'InfluxData',
       'Ocavu', 'Meta', 'Kabam', 'Twitter', 'Exodus', 'Dapper Labs',
       'Loom', 'Playdots', 'Crypto.com', 'NYDIG', 'Pendo', '2TM', 'Snap',
       'Pliops', 'Linktree', 'iRobot', 'Jam City', 'Nylas', 'Stedi',
       'Coinsquare', 'Immutable', 'Gemini', 'Unstoppable Domains',
       'Bryter', 'Anodot', 'SQream', 'Verbit', 'Bullish', 'Lightricks',
       'Celsius', 'Stream', 'Abra', 'Niantic', 'Qumulo',
       'Bright Machines', 'Banxa', 'SafeGraph', 'Bitpanda', 'Sourcegraph',
       'BitOasis', 'TIFIN', 'BlockFi', 'Superhuman', 'Gather', 'IRL',
       'Bitso', 'Buenbit', 'BeyondMinds', 'Airtime', 'Skillz', 'Picsart',
       'DataRobot', 'Mural', 'Cameo', 'Xiaohongshu', 'BitMEX', 'Rasa',
       'Hyperscience', 'Glossier', 'BitTitan', 'NS8', 'Mozilla', 'Sonos',
       'Dark', 'Builder', 'Descartes Labs', 'BookMyShow', 'Glitch',
       'Mixpanel', 'Segment', 'Sandbox VR', 'App Annie', 'Jiobit',
       'Sisense', 'Magic Leap', 'GoPro', 'VSCO', 'NuoDB', 'Yelp', 'Domo',
       'Matterport', 'Code42', 'Eventbrite', 'GetNinjas', 'Iflix',
       'Rover', 'HOOQ', 'Jama', 'GrayMeta', 'Panda Squad'], dtype=object)

In [51]:
tech2.head()

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised
2,Yahoo,SF Bay Area,Consumer,1600.0,0.20,2023-02-09,Acquired,United States,6.0
3,GitLab,SF Bay Area,Product,130.0,0.07,2023-02-09,Post-IPO,United States,413.0
7,Protocol Labs,SF Bay Area,Crypto,89.0,0.20,2023-02-03,Unknown,United States,10.0
11,Splunk,SF Bay Area,Data,325.0,0.04,2023-02-01,Post-IPO,United States,2400.0
13,DraftKings,Boston,Consumer,140.0,0.04,2023-02-01,Post-IPO,United States,719.0

In [56]:
tech3 = tech2[tech2['percentage_laid_off'] != 1.0]

In [57]:
tech3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138 entries, 2 to 330
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   company              138 non-null    object
 1   location             138 non-null    object
 2   industry             138 non-null    object
 3   total_laid_off       138 non-null    float64
 4   percentage_laid_off  138 non-null    float64
 5   date                 138 non-null    object
 6   stage                138 non-null    object
 7   country              138 non-null    object
 8   funds_raised         138 non-null    float64
dtypes: float64(3), object(6)
memory usage: 10.8+ KB

In [58]:
tech2.to_csv('./data/layoffs_clean.csv', index=False)